[submodule "modules/eigen"]
	path = modules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "scripts/ArtToCart"]
	path = scripts/ArtToCart
	url = https://github.com/karstensensensen/ArtToCart.git
[submodule "modules/EThread"]
	path = modules/EThread
	url = https://github.com/karstensensensen/EThread.git
[submodule "modules/ChrTrcProfiler"]
	path = modules/ChrTrcProfiler
	url = https://github.com/karstensensensen/ChrTrcProfiler
[submodule "modules/SFML"]
	path = modules/SFML
	url = https://github.com/SFML/SFML.git
[submodule "modules/CImg"]
	path = modules/CImg
	url = https://github.com/dtschump/CImg.git
	branch = v.3.0.2
