[submodule "modules/eigen"]
	path = modules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "modules/openal-soft"]
	path = modules/openal-soft
	url = https://github.com/kcat/openal-soft.git
