[submodule "modules/vcpkg"]
	path = modules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = 2022.03.10
[submodule "modules/eigen"]
	path = modules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "scripts/ArtToCart"]
	path = scripts/ArtToCart
	url = https://github.com/karstensensensen/ArtToCart.git
[submodule "modules/EThread"]
	path = modules/EThread
	url = https://github.com/karstensensensen/EThread.git
[submodule "modules/ChrTrcProfiler"]
	path = modules/ChrTrcProfiler
	url = https://github.com/karstensensensen/ChrTrcProfiler
[submodule "modules/SFML"]
	path = modules/SFML
	url = https://github.com/SFML/SFML.git
[submodule "modules/CImg"]
	path = modules/CImg
	url = https://github.com/dtschump/CImg.git
	branch = v.3.0.2
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
	branch = v1.2.12
[submodule "modules/vcpkg"]
	path = modules/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	branch = 2022.03.10
